<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="RegressionAssemblyPaths" value="Z:\Dropbox\Projects\masters-thesis\se.vlovgr.thesis\se.vlovgr.thesis.project.core\bin\Debug\se.vlovgr.thesis.project.core.dll;Z:\Dropbox\Projects\masters-thesis\se.vlovgr.thesis\se.vlovgr.thesis.project.core.test\bin\Debug\se.vlovgr.thesis.project.core.test.dll"/>
    <add key="RegressionStoragePath" value="C:\Users\viktor.lovgren.SE\Desktop\storage"/>
  </appSettings>
</configuration>